<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PbProject.ConsoleServerProc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<!--加密-->
		<add name="BaseConStrRead" connectionString="RGF0YSBTb3VyY2U9MjEwLjE0LjEzOC4yNSwxNDM2O0luaXRpYWwgQ2F0YWxvZz1QQkRCO1VzZXIgSUQ9cGJfdXNlcjtQYXNzd29yZD1wYl91c2VyUVdFUkAyNDY4"/>
		<add name="BaseConStrWrite" connectionString="RGF0YSBTb3VyY2U9MjEwLjE0LjEzOC4yNSwxNDM2O0luaXRpYWwgQ2F0YWxvZz1QQkRCO1VzZXIgSUQ9cGJfdXNlcjtQYXNzd29yZD1wYl91c2VyUVdFUkAyNDY4"/>
	</connectionStrings>
	<appSettings>
		<!--Office号-->
		<add key="Office" value="kmg226" />
		<add key="DbType" value="DAL" />
		<!--支付宝异步返回地址-->
		<add key="_AliPayNotifyUrl" value="http://210.14.138.26:91/Pay/PTReturnPage/AliPayNotifyUrl.aspx"/>
		<!--支付宝同步返回地址-->
		<add key="_AliPayReturnUrl" value="http://210.14.138.26:91/Pay/PTReturnPage/AliPayReturnUrl.aspx"/>
		<!--自动出票本票通安装IP地址-->
		<add key="AliPayAutoCPUrl" value="http://210.14.138.26:6350/alidz.do?"/>

		<!--汇付天下自动出票 结果异步回调地址-->
		<add key="HuifuAutoUrl" value="http://210.14.138.26:91/Pay/PTReturnPage/ChinaPnrAutoIssueTicketResult.aspx"/>
		<!--汇付天下自动出票 签名用Key-->
		<add  key="HuifuAutoKey" value="123456"/>
		<!--汇付天下自动出票 服务器IP地址-->
		<add  key="HuifuAutoIP" value="2210.14.138.26:6181"/>
		<!--缓存地址-->
		<add key="CacheUrl" value="tcp://210.14.138.26:8890/BaseData"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WebSMSSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="_51bookServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BaiTuoWebSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="_517WebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="PMServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WebSMSSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WebSMSSoap2" closeTimeout="00:01:00" openTimeout="00:01:00"
        receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
        maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
        messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
        useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
           realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WebService1Soap" closeTimeout="00:01:00" openTimeout="00:01:00"
   receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
   bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
   maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
   maxReceivedMessageSize="2147483647" messageEncoding="Text"
   textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192"

    maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<customBinding>
				<binding name="WebSMSSoap12">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
        messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
        useDefaultWebProxy="true" />
				</binding>
				<binding name="WebSMSSoap121">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
        messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
        useDefaultWebProxy="true" />
				</binding>
				<binding name="WebSMSSoap122">
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
        messageVersion="Soap12" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
           maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
        maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
        keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
        useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://2210.14.138.26:113/51bookService.asmx"
     binding="basicHttpBinding" bindingConfiguration="_51bookServiceSoap"
     contract="w_51bookPolicy._51bookServiceSoap" name="_51bookServiceSoap" />
			<endpoint address="http://2210.14.138.26:114/BaiTuoWeb.asmx"
     binding="basicHttpBinding" bindingConfiguration="BaiTuoWebSoap"
     contract="w_BaiTuoPolicy.BaiTuoWebSoap" name="BaiTuoWebSoap" />
			<endpoint address="http://2210.14.138.26:115/517WebService.asmx"
     binding="basicHttpBinding" bindingConfiguration="_517WebServiceSoap"
     contract="w_517Policy._517WebServiceSoap" name="_517WebServiceSoap" />
			<endpoint address="http://2210.14.138.26:116/PMService.asmx"
     binding="basicHttpBinding" bindingConfiguration="PMServiceSoap"
     contract="w_PMPolicy.PMServiceSoap" name="PMServiceSoap" />
			<endpoint address="http://gateway.woxp.cn:6630/utf8/ws_api/WebSMS.asmx"
     binding="customBinding" bindingConfiguration="WebSMSSoap121"
     contract="WebSMS.WebSMSSoap" name="WebSMSSoap121" />
			<endpoint address="http://gateway.woxp.cn:6630/utf8/ws_api/WebSMS.asmx"
     binding="basicHttpBinding" bindingConfiguration="WebSMSSoap2"
     contract="WebSMS.WebSMSSoap" name="WebSMSSoap" />
			<endpoint address="http://gateway.woxp.cn:6630/utf8/ws_api/WebSMS.asmx"
     binding="customBinding" bindingConfiguration="WebSMSSoap122"
     contract="WebSMS.WebSMSSoap" name="WebSMSSoap12" />
			<endpoint address="http://182.151.203.243:4031/WebService1.asmx"
binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
contract="w_IBEWebservice.WebService1Soap" name="WebService1Soap" />
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<applicationSettings>
		<PbProject.ConsoleServerProc.Properties.Settings>
			<setting name="ConsoleServerProc_WebPromptService_WebTravelPrintService"
			 serializeAs="String">
				<value>http://webservices3.mypb.cn/WebTravelPrintService.asmx</value>
			</setting>
		</PbProject.ConsoleServerProc.Properties.Settings>
	</applicationSettings>
</configuration>