<?xml version="1.0"?>
<restful basePath="api" version="0.1.130426" authType="PiaoBao.API.AuthLogin,PiaoBao.API">
  <rules >
    <rule name="testArch" uriReg="testArch" assign="PiaoBao.API.Services.TestArch,PiaoBao.API" description="测试框架" />
    
    <rule name="oneWay" uriReg="SkyWay/OneWay" assign="PiaoBao.API.Services.SkyWayOneWayServices,PiaoBao.API" description="查询单程航班" />
    <rule name="connWay" uriReg="SkyWay/ConnWay" assign="PiaoBao.API.Services.SkyWayConnWayServices,PiaoBao.API" description="查询联程航班" />
    <rule name="roundWay" uriReg="SkyWay/RoundWay" assign="PiaoBao.API.Services.SkyWayRoundWayServices,PiaoBao.API" description="查询往返航班" />
    <rule name="specialPrice" uriReg="SkyWay/SpecialPrice" assign="PiaoBao.API.Services.SpecialPriceServices,PiaoBao.API" description="查询航班特价" />
    <rule name="policy" uriReg="Policy" assign="PiaoBao.API.Services.PolicyServices,PiaoBao.API" description="实时政策查询" />
    <rule name="pnr" uriReg="PNR" assign="PiaoBao.API.Services.PNRServices,PiaoBao.API" description="PNR处理" />
    <rule name="order" uriReg="order/(?&lt;orderid&gt;\w*)" assign="PiaoBao.API.Services.OrderServices,PiaoBao.API" description="订单处理" />
    <rule name="confirm" uriReg="confirm" assign="PiaoBao.API.Services.ConfirmOrderServices,PiaoBao.API" description="确认订单" />
    <rule name="orderList" uriReg="orderList" assign="PiaoBao.API.Services.OrderListServices,PiaoBao.API" description="订单列表" />
    <rule name="ticket" uriReg="Ticket" assign="PiaoBao.API.Services.TicketServices,PiaoBao.API" description="实时政策查询" />
  </rules>
</restful>