<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings>
		<add key="aspnet:MaxHttpCollectionKeys" value="5000"/>

		<!--支付宝POS:支付宝的公钥-->
		<add key="Public_key" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCxzzLTd1AyZ5sGhUwzXgUcWuVbpFFTni585h9kusnMKffvk4CN97J9k/HUZ0FLod/50kK9JaCjAxQ0f31pr8IsC5aOCBCzS6BgGRuYynw+pvt/ZndwzG08P7hiQ0d85HDqOrr9m+G1PNzAJtutN5GRslOsoeVJj3pxs/dT6oIhgwIDAQAB"/>
		<!--支付宝POS:商户的私钥-->
		<add key="Private_key" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBALHPMtN3UDJnmwaFTDNeBRxa5VukUVOeLnzmH2S6ycwp9++TgI33sn2T8dRnQUuh3/nSQr0loKMDFDR/fWmvwiwLlo4IELNLoGAZG5jKfD6m+39md3DMbTw/uGJDR3zkcOo6uv2b4bU83MAm2603kZGyU6yh5UmPenGz91PqgiGDAgMBAAECgYAdncl1d5YgDym/OEys8aggRPOXBBOXve04WIw6FvKt0v+9I/BxtSRBznalTl2N33STA/ah0rai8ExZQjL9e4z3ybdLguTgH9wYfXD4B7DNRwCIHJREP8eTgmxoLminj6Y5TiHbFTHDB9f6tVXDn+p8TfUfdqYKlisu3pKr4qeZ4QJBAOvsz+aC/Bjv+LVeg0cZq2ZRHafCNb5Pe6ipLMS6hN+drvaoM4DnaaQwjIRNA2GXhSfpTOyYKeyxMEu67FSUafcCQQDA8HHQfrq+1PsBlP5r0ebW5wCI2ovqeTsmNhPwab6yC5ZYKvaXoLQ/ZDESRUictHBXWdSY76mfFg8t2gl3RAHVAkAq1b1NkfypnnBepcFaGGwJULL8sYNGgXHnRogNU/wqCZwpxpJLVjjVCceJgd4aSwNvIqnHzzzVb7pgFZkxJh0zAkAy7YTtZvY+NxPGeCCsLyzCnxkqBp4WF0gArxeWRyNZ9esKfNS4c2gAr56wVu9yxcI9nG2crO5WGsmI7du/yoi9AkEApm8TtXeCaDzBxShPYqWrjcvd6yJamFErj1wsVHG4oQMmhRpJ5393rHSxn/C/Nx1iX8/aYgmqX3/lhJ+HxV4gMg=="/>
		<!--支付宝返回地址-->
		<add key="_AliPayReturnUrl" value="http://210.14.138.26:91/Pay/ReturnPage/AliPayReturnUrl.aspx"/>
		<add key="_AliPayNotifyUrl" value="http://210.14.138.26:91/Pay/ReturnPage/AliPayNotifyUrl.aspx"/>
		<!--快钱返回地址-->
		<add key="_99BillReturnUrl" value="http://210.14.138.26:91/Pay/ReturnPage/99BillReturnUrl.aspx"/>
		<add key="_99BillNotifyUrl" value="http://210.14.138.26:91/Pay/ReturnPage/99BillNotifyUrl.aspx"/>
		<!--汇付返回地址-->
		<add key="_ChinaPnrReturnUrl" value="http://210.14.138.26:91/Pay/ReturnPage/ChinaPnrReturnUrl.aspx"/>
		<add key="_ChinaPnrNotifyUrl" value="http://210.14.138.26:91/Pay/ReturnPage/ChinaPnrNotifyUrl.aspx"/>
		<!--财付通返回地址-->
		<add key="_TenPayReturnUrl" value="http://210.14.138.26:91/Pay/ReturnPage/TenPayNotifyUrl.aspx"/>

		<add key="CacheUrl" value="tcp://210.14.138.26:8890/BaseData"/>
		<add key="w_BTWebService.BaiTuoWeb" value="http://210.14.138.26:114/BaiTuoWeb.asmx"/>
		<add key="w_517WebService.517WebService" value="http://210.14.138.26:115/517WebService.asmx"/>
		<add key="w_PMWebService.PMService" value="http://210.14.138.26:116/PMService.asmx"/>
		<add key="w_51bookService.51bookService" value="http://210.14.138.26:113/51bookService.asmx"/>
		<add key="w_8000YService.W8000YService" value="http://210.14.138.26:117/W8000YService.asmx"/>
		<add key="w_TodayService.WTodayService" value="http://210.14.138.26:118/WTodayService.asmx"/>
		<add key="w_YeeXingService.YeeXingSerivce" value="http://210.14.138.26:120/YeeXingSerivce.asmx"/>
	</appSettings>
	<connectionStrings>
		<!--网站版本号-->
		<add name="Version" connectionString="V3.0.0.2" providerName=""/>
		<!--<add name="BaseConStrRead" connectionString="Data Source=210.14.138.25,1436;Initial Catalog=PBDB;User ID=pb_user;Password=pb_userQWER@2468"/>
		<add name="BaseConStrWrite" connectionString="Data Source=210.14.138.25,1436;Initial Catalog=PBDB;User ID=pb_user;Password=pb_userQWER@2468"/>-->
		<!--加密-->
		<add name="BaseConStrRead" connectionString="RGF0YSBTb3VyY2U9MjEwLjE0LjEzOC4yNSwxNDM2O0luaXRpYWwgQ2F0YWxvZz1QQkRCO1VzZXIgSUQ9cGJfdXNlcjtQYXNzd29yZD1wYl91c2VyUVdFUkAyNDY4"/>
		<add name="BaseConStrWrite" connectionString="RGF0YSBTb3VyY2U9MjEwLjE0LjEzOC4yNSwxNDM2O0luaXRpYWwgQ2F0YWxvZz1QQkRCO1VzZXIgSUQ9cGJfdXNlcjtQYXNzd29yZD1wYl91c2VyUVdFUkAyNDY4"/>


		<!--<add name="ConStrRead" connectionString="Data Source=210.14.138.26,1436;Initial Catalog=PBDB;User ID=pb_user;Password=pb_userQWER@2468"/>
		<add name="ConStrWrite" connectionString="Data Source=210.14.138.26,1436;Initial Catalog=PBDB;User ID=pb_user;Password=pb_userQWER@2468"/>-->
		<!--<add name="BaseConStrRead" connectionString="Data Source=210.14.138.26,1435;Initial Catalog=DemoBaseDB;User ID=pb_demo;Password=piaobao"/>
    <add name="BaseConStrWrite" connectionString="Data Source=210.14.138.26,1435;Initial Catalog=DemoBaseDB;User ID=pb_demo;Password=piaobao"/>
    <add name="ConStrRead" connectionString="Data Source=210.14.138.26,1435;Initial Catalog=DemoDB;User ID=pb_demo;Password=piaobao"/>
    <add name="ConStrWrite" connectionString="Data Source=210.14.138.26,1435;Initial Catalog=DemoDB;User ID=pb_demo;Password=piaobao"/>-->
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<pages validateRequest="false"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<sessionState mode="StateServer" timeout="720"/>
		<globalization culture="auto" uiCulture="auto"/>
		<!--配置出错链接地址-->
		<!--
    <customErrors mode="On" defaultRedirect="Error.htm">
      -->
		<!--404出错地址-->
		<!--
      <error statusCode="404" redirect="NotFound.htm" />

    </customErrors>-->
		<httpRuntime requestValidationMode="2.0"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BaiTuoWebSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
							receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="_517WebServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="PMServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="_51bookServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="W8000YServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WTodayServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
					receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
					bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
					maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="67108864" maxArrayLength="16384"
							  maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WebService1Soap" closeTimeout="00:01:00" openTimeout="00:01:00"
				  receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
				  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
				  maxReceivedMessageSize="2147483647" messageEncoding="Text"
				  textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192"

		  maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="YeeXingSerivceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
							receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
							bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
							maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
							messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
							useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
						maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
							realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://210.14.138.26:114/BaiTuoWeb.asmx"
					  binding="basicHttpBinding" bindingConfiguration="BaiTuoWebSoap"
					  contract="w_BTWebService.BaiTuoWebSoap" name="BaiTuoWebSoap" />
			<endpoint address="http://210.14.138.26:115/517WebService.asmx"
				binding="basicHttpBinding" bindingConfiguration="_517WebServiceSoap"
				contract="w_517WebService._517WebServiceSoap" name="_517WebServiceSoap" />
			<endpoint address="http://210.14.138.26:116/PMService.asmx"
				binding="basicHttpBinding" bindingConfiguration="PMServiceSoap"
				contract="w_PMWebService.PMServiceSoap" name="PMServiceSoap" />
			<endpoint address="http://210.14.138.26:113/51bookService.asmx"
				binding="basicHttpBinding" bindingConfiguration="_51bookServiceSoap"
				contract="w_51bookService._51bookServiceSoap" name="_51bookServiceSoap" />
			<endpoint address="http://210.14.138.26:117/W8000YService.asmx"
				binding="basicHttpBinding" bindingConfiguration="W8000YServiceSoap"
				contract="w_8000YService.W8000YServiceSoap" name="W8000YServiceSoap" />
			<endpoint address="http://210.14.138.26:118/WTodayService.asmx"
				binding="basicHttpBinding" bindingConfiguration="WTodayServiceSoap"
				contract="w_TodayService.WTodayServiceSoap" name="WTodayServiceSoap" />

			<endpoint address="http://182.151.203.243:4031/WebService1.asmx"
				binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
				contract="w_IBEWebservice.WebService1Soap" name="WebService1Soap" />
			<endpoint address="http://210.14.138.26:120/YeeXingSerivce.asmx"
					  binding="basicHttpBinding" bindingConfiguration="YeeXingSerivceSoap"
					  contract="w_YeeXingService.YeeXingSerivceSoap" name="YeeXingSerivceSoap" />

		</client>
	</system.serviceModel>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\log.txt"/>
			<appendToFile value="true"/>
			<param name="RollingStyle" value="Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level - %message%newline"/>
			</layout>
		</appender>
		<appender name="DebugAppender" type="Carpa.Logging.Appender.DebugAppender">
			<layout type="Carpa.Logging.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %type - %message%newline"/>
			</layout>
		</appender>
		<root>
			<!--<level value="DEBUG" />-->
			<level value="ERROR"/>
			<appender-ref ref="FileAppender"/>
			输出到 IDE 调试窗口
			<appender-ref ref="DebugAppender"/>
		</root>
	</log4net>
</configuration>
